<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<title>게시글 등록</title>
<style>
	.ck-editor__editable {
		min-height: 380px;
		width: 100%;
	}
</style>
</head>
<body>
<th:block layout:fragment="content">
<div class="d-flex justify-content-center text-center">
	<div class="col-8">
		<section class="my-5">
			<form id="frm" action="insert" method="post" enctype="multipart/form-data">
				<table class="table mb-5">
					<tr>
						<th scope="col" width="110">작성자</th>
						<td class="text-start">
							<input type="text" class="form-control"
								   id="" name="memberId">
						</td>
					</tr>
					<tr>
						<th scope="row">작성일</th>
						<td class="text-start" 
							th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
						</td>
					</tr>
					<tr>
						<th scope="row">첨부파일</th>
						<td class="text-start">
							<input type="file" class="form-control" 
							       id="" name="file">
						</td>
					</tr>
					<tr>
						<td class="text-start" colspan="2">
							<input type="text" class="form-control form-control-sm"
							       id="" name="title">
						</td>
					</tr>
					<tr>
						<td class="text-start" colspan="2">
							<textarea id="ckfinder" class="form-control" name="contents"></textarea>
						</td>
					</tr>
				</table>
				<div>
					<button class="btn btn-outline-dark" type="submit">등록하기</button>
					<button class="btn btn-outline-dark" type="reset">다시쓰기</button>
				</div>
			</form>
		</section>
	</div>
</div>
<script th:src="@{/js/plugins/ckeditor5/build/ckeditor.js}"></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		ckfinder();
	})
	
	// ckfinder
	function ckfinder() {
	    let ckfinder = document.querySelector('#ckfinder');
	
	    if (ckfinder) {
	      ClassicEditor
	        .create(document.querySelector('#ckfinder'),
	        		{
	        			language:'ko',
	        			ckfinder: {
	        				uploadUrl: '/editorUpload'
	        			},
	        			fontColor: {
	        	            colors: [
	        	                {
	        	                    color: 'hsl(0, 0%, 0%)',
	        	                    label: 'Black'
	        	                },
	        	                {
	        	                    color: 'hsl(0, 0%, 30%)',
	        	                    label: 'Dim grey'
	        	                },
	        	                {
	        	                    color: 'hsl(0, 0%, 60%)',
	        	                    label: 'Grey'
	        	                },
	        	                {
	        	                    color: 'hsl(0, 0%, 90%)',
	        	                    label: 'Light grey'
	        	                },
	        	                {
	        	                    color: 'hsl(0, 0%, 100%)',
	        	                    label: 'White',
	        	                    hasBorder: true
	        	                }
	        	            ]
	        	        },
	        			image: {
	        			      styles: ["alignLeft", "alignCenter", "alignRight"],      
	        			      toolbar: [
	        			        "imageStyle:alignLeft",
	        			        "imageStyle:alignCenter",
	        			        "imageStyle:alignRight",
	        			        "|",
	        			        "imageTextAlternative",
	        			      ],
	        			      resizeUnit: 'px',
	    		            resizeOptions: [
	    		                {
	    		                    name: 'resizeImage:original',
	    		                    label: 'Original',
	    		                    value: null
	    		                },
	    		                {
	    		                    name: 'resizeImage:100',
	    		                    label: '100px',
	    		                    value: '100'
	    		                },
	    		                {
	    		                    name: 'resizeImage:200',
	    		                    label: '200px',
	    		                    value: '200'
	    		                }
	    		            ]
	        			 }
	        		})
	        .then(editor => {
	          window.editor = editor;
	        })
	        .catch(error => {
	          console.error('There was a problem initializing the classic editor.', error);
	        });
	    }
	    
	}
</script>
</th:block>
</body>
</html>