<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<title>게시글 조회</title>
<style>
	form {
			display: inline-block;
		}
	
	.down-form {
		width: 100%;
		display: inline-block;

	}
	
	.down-btn {
		width: 100%;
		border: none;
		background: none;
		padding: 5px 20px;
		text-align: left;

	}
</style>
</head>
<body>
<th:block layout:fragment="content">
<div class="d-flex justify-content-center text-center">
	<div class="col-8">
		<section class="my-5">
			<div style="text-align: right;">
				<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
				  	<div class="btn-group" role="group">
				    <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">게시글 관리&nbsp;&nbsp;</button>
					    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
					    	<form class="post-form" action="post/update" method="get">
								<input type="hidden" name="id" th:value="${post.id}">
								<button class="down-btn" type="submit">수정</button>
							</form>
							<form class="down-form" action="post/delete" method="post">
								<input type="hidden" name="id" th:value="${post.id}">
								<input type="hidden" name="prevFile" th:value="${post.fileName}">
								<button class="down-btn" type="submit">삭제</button>
							</form>
					    </div>
				  	</div>
				</div>
			</div>
			<table class="table">
				<tr>
					<th class="text-start" scope="col" width="110">작성자</th>
					<td class="text-start" th:text="${post.memberId }">#</td>
				</tr>
				<tr>
					<th class="text-start" scope="row">작성일</th>
					<td class="text-start" th:text="${post.enrollDate }">#</td>
				</tr>
				<tr>
					<th class="text-start" scope="row">제목</th>
					<td class="text-start" colspan="3" th:text="${post.title }">#</td>
				</tr>
				<tr>
					<th class="text-start" scope="row">첨부파일</th>
					<td class="text-start" colspan="3">
						<th:block th:if="${post.fileName == null}">첨부파일 없음</th:block>
						<th:block th:unless="${post.fileName == null}">
							<a th:href=@{/download(fileName=${post.fileName},originName=${post.originFileName})}>[[${post.originFileName}]]</a>
						</th:block>
					</td>
				</tr>
				<tr>
					<th class="text-start" scope="row">내용</th>
					<td class="text-start" colspan="3" th:text="${post.contents }">#</td>
				</tr>
			</table>
		</section>
		<article>
			<form class="cmt-insert-frm" action="comment/insert" method="post" onsubmit="return memberCheck(this)">
				<div class="input-group mb-3">
				<input type="hidden" class="postId" name="postId" value="${p.postId }">
				<input type="hidden" class="commentName" name="commentName" value="${m.memberId }">
				<input type="hidden" class="commentDepth" name="commentDepth" value="0">
			    <input type="text" class="commentContents form-control" name="commentContents" required="required"
			    		placeholder="Write your comment" aria-label="Recipient's username" aria-describedby="button-addon2">
			    <button class="btn btn-primary" type="submit" id="button-addon2" >댓글 등록</button>
			    </div>
			</form>
		</article>
	</div>
</div>
</th:block>
</body>
</html>