<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Hello Board!</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
        crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
	<th:block th:replace="fragments/header :: header"></th:block>
	<th:block th:replace="fragments/nav :: nav"></th:block>
	<main id="main-container" layout:fragment="content"></main>
</div>
</body>
</html>